/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*General*/
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100%;
}

.react-box {
  display: flex;
  height: 100vh;
}

.content-box {
  font-family: "Inconsolata", monospace;
  margin: 4rem 1.5rem 0;
  font-size: 1.4rem;
  border-left: 2rem #44475a !important;
  padding-left: 1rem;
  cursor: pointer;
}

.title {
  color: #8be9fd !important;
  padding: 3rem 1rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
  i {
    margin-right: 0.7rem;
  }
}

.yellow {
  color: #f1fa8c !important;
}

.pink {
  color: #ff79c6 !important;
}

.gray {
  color: #6272a4 !important;
}

/* SideBarSection*/
.side-bar-section {
  position: relative;
  vertical-align: top;
  background-color: #44475a;
  width: 10%;
}

.menu-element {
  padding: 1.5rem 0.8rem;
}

.menu-font {
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  i {
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-right: 0.8rem;
    border-radius: 10%;
    color: #44475a;
  }
  .fa-wrench {
    background-color: #8be9fd;
  }
  .fa-code {
    background-color: #50fa7b;
  }
  .fa-stack-overflow {
    background-color: #ffb86c;
  }
  .fa-chart-line {
    background-color: #ff79c6;
  }
  .fa-pencil-alt {
    background-color: #bd93f9;
  }
  .fa-lightbulb {
    background-color: #f8f8f2;
  }
  .fa-question {
    background-color: #e6db74;
  }
  .fa-lock {
    color: #f8f8f2;
  }
}

.menu-font:nth-of-type(1) {
  color: #8be9fd;
}

.menu-font:nth-of-type(2) {
  color: #50fa7b;
}
.menu-font:nth-of-type(3) {
  color: #ffb86c;
}
.menu-font:nth-of-type(4) {
  color: #ff79c6;
}
.menu-font:nth-of-type(5) {
  color: #bd93f9;
}
.menu-font:nth-of-type(6) {
  color: #f8f8f2;
}
.menu-font:nth-of-type(7) {
  color: #e6db74;
}

.initab-element {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  text-align: center;
}

.initab-img {
  width: 60%;
  margin-bottom: 1rem;
}

.initab-icons {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  i {
    border-radius: 50%;
    color: #fff;
    padding: 0.8rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .fa-facebook-f {
    background-color: rgb(59, 89, 152);
  }
  .fa-linkedin-in {
    background-color: rgb(0, 127, 177);
  }
  .fa-twitter {
    background-color: rgb(85, 172, 238);
  }
  .fa-reddit-alien {
    background-color: rgb(95, 153, 207);
  }
}
/*Main*/
.Main {
  width: 90%;
  background-color: #282a36 !important;
  display: flex;
}

/*PopularSection*/
.popular-section {
  width: 30%;
  height: 100vh;
  overflow: auto;
}

.popular-content {
  color: #f8f8f2 !important;
  margin-bottom: 0.4rem;
  line-height: 1.8rem;
}

.popular-post {
  padding-bottom: 0.8rem;
}

/*CenterSection*/
.Center-section {
  width: 50%;
}

.History-section {
  height: 50vh;
}

.js-histories {
  margin: 4rem 0 0;
  font-size: 1.4rem;
  font-family: "Inconsolata", monospace;
  overflow: scroll;
  height: 40vh;
}

.js-history-box {
  display: flex;
  margin-bottom: 2rem;
  img {
    background-color: #fff;
    margin-right: 0.5rem;
    object-fit: cover;
  }
}

.js-content {
  color: #6272a4 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40rem;
  cursor: pointer;
  :hover {
    color: #f1fa8c !important;
    transition: 0.3s;
  }
}

.js-history-date {
  margin-left: auto;
  margin-right: 0.8rem;
  color: #999 !important;
}

.Time-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  height: 50vh;
  border-top: 0.1rem solid #6272a4;
  color: #6272a4 !important;
  background-color: #282a36 !important;
}

.Time-box {
  text-align: center;
  margin-bottom: 0.7rem;
}

.time {
  padding: 5rem;
  font-size: 12rem;
  span {
    font-size: 4rem;
  }
}
.date {
  font-size: 2rem;
}

.time-question {
  margin-top: 2rem;
  p {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
}

/*RightSection*/
.Right-Section {
  position: relative;
}

.GitHub-issues-Histories {
  height: 70vh;
  overflow: auto;
}

.GitHub-issues-title {
  padding-bottom: 0.3rem;
}

.GitHub-issues-content {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 1.2rem;
  color: #6272a4 !important;
}

.time-question i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.time-close i {
  margin-right: 0.5rem;
}

.GitHub-issues-History-box div {
  padding-bottom: 0.7rem;
}

.Github-tab-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.Github-tab {
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  :hover {
    color: #f1fa8c !important;
  }
}

.Git-content {
  color: #f8f8f2;
}

.ads-element {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-top: 0.1rem solid #6272a4;
  background-color: #282a36;
}

.ads-box {
  display: flex;
}

.ads-img img {
  width: 12rem;
}

.ads-content {
  padding: 1rem;
}
